body{
	text-align:center;
	font-family:helvetica;
	font-weight:100;
}


h1{
	float:left;
	font-size:25px;
	font-weight:100;
}

button{
	
	font-family:helvetica;
	background:white;
	font-size:20px;
	vertical-align:bottom;
	border-radius:20px;
	border-style:solid;
	font-weight:100;
}

button:hover{
	background:black;
	color:white;
	border-color:black;
}
#choices{
	float:right;
	padding-top:15px;
}

#continue{
	float:right;
	padding-top:20px;
	font-size:20px;
}
#container{
	width:638px;
	margin:0px auto;
}

#top{
	width:618px;
	margin:0px auto;
}
.yes{
	border-color:yellow;
	border-style:solid;
	border-width:20px;
}

.no{
	opacity:0.8;
}
